@font-face {
    font-family: GothamBold;
    src: url(../fonts/Gotham-Bold.ttf);
}

@font-face {
    font-family: GothamLight;
    src: url(../fonts/Gotham-Light.ttf);
}

@font-face {
    font-family: GothamBlack;
    src: url(../fonts/Gotham-Black.ttf);
}


@font-face {
    font-family: HelveticaNeueRegular;
    src: url(../fonts/Helvetica-NeueRegular.ttf);
}


@font-face {
    font-family: HelveticaNeueThin;
    src: url(../fonts/HelveticaNeue-Thin.otf);
}

@font-face {
    font-family: HelveticaNeueMedium;
    src: url(../fonts/HelveticaNeue-Medium.otf);
}

@font-face {
    font-family: HelveticaNeueCondensedBlack;
    src: url(../fonts/HelveticaNeue-CondensedBlack.otf);
}
@font-face {
    font-family: HelveticaNeueBold;
    src: url(../fonts/HelveticaNeueBold.ttf);
}

@font-face {
    font-family: HelveticaNeueCondensedBold;
    src: url(../fonts/HelveticaNeueCondensedBold.ttf);
}
@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf);
}

.overflow{
	z-index: 999999;
	display: none;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	.message{
		width: 40%;
		height: 35%;
		position: fixed;
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		border-radius: 15px;
		border: solid 1px #000;
		padding: 2%;
		.text{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			margin:0;
			font-family: HelveticaNeueBold;
			font-size: 14px;
			color: #000;
		}
		.overflow-close{
			position: absolute;
			top:2%;
			right: 2%;
			font-size: 14px;
			color: #000;

		}
	}
}


.fixed{
    position: fixed !important;
    top: 0;
}

button:focus,button:active {
   outline: none !important;
}

.mobile{
	display: none;
}

hr {
    border: 0;
    height: 1px;
    background: #0bbb6b;
/*
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
*/
    background:         linear-gradient(to right, #209446 0%, #0bbb6b 50%, #209446 100%);
}

/* #Media Queries
================================================== */

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.menu-mobile{
	display: none;
	position: fixed;
	z-index: 99999;
	height: 100vh;
	width: 100vw;
	background-color: rgba(255,255,255,0.8);
	top: 0;
	i{
		cursor: pointer;
		color: #209446;
		right: 15px;
		top: 15px;
		position: absolute;
		font-size: 20px;
	}
	ul {
		margin-top: 100px;
		width: 100%;
		li {
			width: 100%;
			float: left;
			button{
				border: none;
				background-color: transparent;
				border: none;
			    font-family: GothamBlack;
			    font-size: 15px;
	    		letter-spacing: 0.06em;
			    color: #209446;
			    text-transform: uppercase;
			    width: 100%;
			    text-align: center;
			    margin: 1%;
			}
		}
	}
}
.arrow-green {
	z-index: 9001;
	cursor: pointer;
    position: relative;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 5vh;
    background-image: url(../img/arrow_green.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 3% 0;
}

.arrow-white {
		z-index: 9001;

	cursor: pointer;
    position: relative;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 5vh;
    background-image: url(../img/arrow_white.png);
    background-repeat: no-repeat;
    background-position: center;
	padding-bottom: 5%;
	margin-bottom: 0%;
}

.arrow {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}



header{
	height: 100vh;
	background-image: url('../img/header_bra_cafe.png');
	background-size: cover;
	.label{	
	    background-image: url(../img/header_bra_cafe_label.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    height: 278px;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    text-align: left;

		.logo{
			margin-left: 5%;
			position: relative;
		    top: 50%;
		    transform: translateY(-50%);
			img{
				width: 100%;
			}
		}
		.tilulo{
			position: relative;
		    top: 50%;
		    transform: translateY(-50%);
			margin-left: 5%;
		    .slogan{
		    	h1{
		    		font-family: GothamBold;
		    		font-size: 34px;
		    		color: #000;
		    		text-transform: uppercase;
		    	}
		    }
		    .button{
		    	border:none;
		    	margin-top: 5%;
		    	.btn-default{
		    	    border-radius: 3px;
		    		border:none;
		    		padding: 3% 10%;
		    		background-color: #209446;
		    		font-family: GothamLight;
		    		font-size: 13px;
		    		letter-spacing: 0.12em;
		    		text-transform: uppercase;
		    		color: #fff;

		    	}
		    }
		}
	}
}
.menu{

	.navbar{
		z-index: 999999;
		position: absolute;
		width: 100%;
	background-color: #fff;
		height: 75px;
		.navbar-header{
			.navbar-brand{
				padding: 0;
				img{
					width: 70%;
				}
			}
		}
		.navbar-collapse{
			position: relative;
			top: 50%;
			ul {
			    bottom: 0;
			    position: absolute;
			    /* width: 85%; */
			    right: 5%;
				li {
					float: right;
					button{
						border: none;
						background-color: transparent;
						border: none;
					    font-family: GothamBlack;
					    font-size: 13px;
    		    		letter-spacing: 0.06em;
					    color: #209446;
					    text-transform: uppercase;
					    padding-right: 25px;
					}
				}
			}
		}
	}
}
.sobre{
	background-color: #d2cdbe;
	padding-top: 100px;
	.texto{
		p{
			font-family: HelveticaNeueMedium;
			color:#209446;
			font-size: 15px;
			letter-spacing: 0.02em;
			line-height: 21px;
			margin: 5% 0;

			bold{
				font-family: HelveticaNeueCondensedBold;
				font-size: 16px;
				letter-spacing: 0.04em;
				font-weight: 900;
				line-height: 21px;

			}	
		}
	}
	.divisor{
		height: 5vh;
		width: 100%;
		background-image: url("../img/divisor.png");
		background-position: center;
		background-repeat: no-repeat;
	}
	.galeria{
		.slide{
			img{
		   		border-radius: 3px;
				width: 100%;
				padding: 5%;
				display: block;
			}
		}
	}
}

.produto{
	width: 100%;
	background-image: url("../img/produto_bg_01.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	.info{
		margin-top: 10%;
    	margin-left: 10%;
    	h1{
		    font-family: HelveticaNeueThin;
		    text-transform: uppercase;
		    font-size: 48px;
		    color: #fff;
		    text-align: center;
		    margin-bottom: 15%;
    	}
    	.prod{

    		margin-bottom: 10%;
	    	 a{
    			text-decoration: none;
    			&:hover{
    				text-decoration: none;
    			}
    		}
	    	img{
				border: 1px solid #000;
			    border-radius: 3px;

	    		width: 100%;
	    	}
			p{
			    font-family: HelveticaNeueMedium;
			    font-size: 12px;
			    color: #fff;
			    text-align: center;
			    
			}
    		
    	}


	}
}

.contato{
	padding-top: 15%;
	padding-bottom: 5%;
	background-image: url("../img/contato_bg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	text-align: center;
	h1{
		font-family: HelveticaNeueCondensedBlack;
		font-size: 47px;
		letter-spacing: 0.04em;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		font-weight: 900;
		margin: 2%;
	}
	p{
	    font-family: HelveticaNeueBold;
	    font-size: 15px;
	    color: #fff;
	    text-align: center;
	    margin: 2%;
	    letter-spacing: 0.04em;
	}
	form{
	    padding: 0 5%;
	    width: 100%;
		.form{

			input, textarea{
				background-color: #00a651;
				font-family: HelveticaNeueBold;
				color:#fff;
				width: 100%;
				margin: 1px;
				border-radius: 5px;
				border: none;
				font-size: 15px;
				letter-spacing: 0.04em;
				padding: 2%;

				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				    color:    #00ce7d;
				    				font-family: HelveticaNeueBold;

				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				   color:    #00ce7d;
				   				font-family: HelveticaNeueBold;

				   opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
				   color:    #00ce7d;
				   				font-family: HelveticaNeueBold;

				   opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				   color:    #00ce7d;
				   				font-family: HelveticaNeueBold;

				}

			}
			.btn-enviar{
				    border-radius: 3px;
				font-family: HelveticaNeueBold;
				color:#00a651;
				background-color: #000;
				padding: 2% 3%;
				font-size: 12px;
				text-transform: uppercase;
				float: right;

			}
		}
	}
}
footer{
	background-color: #209446;
	width: 100%;
	color: #fff;
	text-align: center;
	padding-bottom: 2%;
	.social{
		margin-top: 2%;
		font-size: 18px;
		a{
			color:#fff;
			padding: 0 3%; 
		}
	}
	.copyright{
		width: 100%;
		p{
			font-family: MyriadPro-Regular;
			font-weight: 100;
			font-size: 14px;
			letter-spacing: 0.04em;
			line-height: 18px;
		}

	}
}



  /* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1440px) {
	.produto{
		width: 100%;
		background-image: url("../img/produto_bg_01.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		.info{
	    	margin-left: 10%;
			p{
			    font-family: HelveticaNeue;
			    font-size: 14px;
			    color: #fff;
			    text-align: center;
			    bold{
			    	font-weight: 900;
			    }
			}
			.btn-comprar{
				font-family: HelveticaNeue;
				font-size: 14px;
				color: #209446;
				text-transform: uppercase;
				font-weight: 900;
			    padding: 3% 10%;
			    position: relative;
			    left: 50%;
			    transform: translateX(-50%);
			}
		}
	}
	.contato{	
		form{
		    padding: 5%;
		    width: 100%;
			input, textarea{

				font-size: 12px;

			}
			.btn-enviar{
				font-family: HelveticaNeueCondensedBlack;
				color:#00a651;
				background-color: #000;
				padding: 2% 5%;
				font-size: 14px;
				text-transform: uppercase;
				float: right;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {

	.mobile{
		display: block;
	}

	.arrow-green {
	    margin: 5% 0;
	}


	header{
		.label{	
			height: 25vh;
			.logo{
				margin-right: 15%;
				img{
					width: 150%;
				}
			}
			.tilulo{
			    .slogan{
			    	h1{
			    		font-size: 36px;
			    	}
			    }
			    .button{
			    	margin-top: 5%;
			    	.btn-default{
			    		font-size: px;
			    	}
			    }
			}
		}
	}
	.menu{
		background-color: #fff;
		.navbar{
			background-color: #fff;
			.navbar-brand{
				padding: 10px;
				img{
					width: 55%;
				}
			}
			.navbar-toggle{
				color:#fff;
				border-color:#000;
				.icon-bar{
					background-color:#000;
				}
				&:hover, &:focus{
					background-color: #00a651;
				}
			}			
			.navbar-collapse{
				position: relative;
				top: 0;
				transform: translateY(0);
				text-align: center;
				ul {
					width: 75%;
					li {
						width: 25%;
						button{
							font-size: 18px;
						}
					}
				}
			}
		}
	}

	.sobre{

		.texto{
			p{
				font-size: 46px;
				line-height: 48px;
				bold{
					font-size: 50px;
					line-height: 52px;
				}
			}
		}
	}

.produto{
	.info{
    	h1{
		    font-size: 72px;
		    line-height: 74px;
    	}
    	.prod{

			p{
				margin-top: 5%;
			    font-size: 40px;
			}
    		
    	}


	}
}



	.contato{
		padding-top: 38%;
		h1{
			font-size: 50px;
		}
		p{
			font-size: 36px;
		}
		form{
			padding: 5%;
		    width: 100%;
			.form{
				input, textarea{
					font-size: 36px;
					margin: 1%;
				}
				.btn-enviar{
					margin-top: 5%;
					font-size: 36px;
				}
			}
		}
	}
	footer{
		.social{
			margin-top: 5%;
			font-size: 36px;
		}
		.copyright{
			p{
				font-size: 12px;
				line-height: 26px;
				&:last-child{
					font-size: 26px;
				}
			}

		}
	}

}

@media only screen and  (max-width: 959px) {

	.mobile{
		display: block;
	}

	.arrow-green {
	    margin: 5% 0;
	}


	header{
		.label{	
			height: 25vh;
			.logo{
				margin-right: 15%;
				img{
					width: 100%;
				}
			}
			.tilulo{
			    .slogan{
			    	h1{
			    		font-size: 22px;
			    	}
			    }
			    .button{
			    	margin-top: 5%;
			    	.btn-default{
			    		font-size: 8px;
			    	}
			    }
			}
		}
	}
	.menu{
		background-color: #fff;
		.navbar{
			background-color: #fff;
			.navbar-brand{
				padding: 10px;
				img{
					width: 55%;
				}
			}
			.navbar-toggle{
				color:#fff;
				border-color:#000;
				.icon-bar{
					background-color:#000;
				}
				&:hover, &:focus{
					background-color: #00a651;
				}
			}			
			.navbar-collapse{
				position: relative;
				top: 0;
				transform: translateY(0);
				text-align: center;
				ul {
					width: 75%;
					li {
						width: 20%;
						a{
							font-size: 12px;
						}
					}
				}
			}
		}
	}

	.sobre{

		.texto{
			p{
				font-size: 22px;
				line-height: 26px;
			}
		}
	}

	.contato{
		form{
		    padding: 5%;
		    width: 100%;
			h1{
				font-size: 32px;
			}
			p{
				font-size: 22px;
			}
			.form{
				input, textarea{
					font-size: 22px;
					margin: 1%;
				}
				.btn-enviar{
					margin-top: 5%;
					font-size: 22px;
				}
			}
		}
	}
	footer{
		.social{
			margin-top: 5%;
			font-size: 18px;
		}
		.copyright{
			p{
				font-size: 6px;
				&:last-child{
					font-size: 12px;
				}
			}

		}
	}

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	.mobile{
		display: block;
	}

	.arrow-green {

	    margin: 5% 0;
	}


	header{
		.label{	
			height: 100px;
			.logo{
				img{
					width: 120%;
				}
			}
			.tilulo{
			    .slogan{
			    	h1{
			    		font-size: 26px;
			    	}
			    }
			    .button{
			    	margin-top: 5%;
			    	.btn-default{
			    		font-size: 20px;
			    	}
			    }
			}
		}
	}
	.menu{
		background-color: #fff;
		.navbar{
			background-color: #fff;
			.navbar-brand{
				padding: 10px;
				img{
					width: 55%;
				}
			}
			.navbar-toggle{
				color:#fff;
				border-color:#000;
				.icon-bar{
					background-color:#000;
				}
				&:hover, &:focus{
					background-color: #00a651;
				}
			}			
			.navbar-collapse{
				position: relative;
				top: 0;
				transform: translateY(0);
				text-align: center;
				ul {
					width: 100%;
					li {
						width: 100%;
						a{
							font-size: 22px;
						}
					}
				}
			}
		}
	}

	.sobre{

		.texto{
			p{
				font-size: 22px;
				line-height: 28px;
				bold{
					font-size: 26px;
					line-height: 30px;
				}
			}
		}
	}

	.contato{
		h1{
			font-size: 26px;
		}
		p{
			font-size: 22px;
		}

		form{
		    padding: 5%;
		    width: 100%;
			.form{
				input, textarea{
					font-size: 22px;
					margin: 1%;
				}
				.btn-enviar{
					margin-top: 5%;
					font-size: 22px;
				}
			}
		}
	}
	footer{
		.social{
			margin-top: 5%;
			font-size: 26px;
		}
		.copyright{
			p{
				font-size: 6px;
				&:last-child{
					font-size: 22px;
				}
			}

		}
	}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 480px) {

.mobile{
	display: block;
}

.arrow-green {

    margin: 5% 0;
}

	header{
		.label{	
			height: 100px;
			.logo{
				img{
					width: 150%;
				}
			}
			.tilulo{
			    .slogan{
			    	h1{
			    		font-size: 26px;
			    		line-height: 28px;
			    	}
			    }
			    .button{
			    	margin-top: 5%;
			    	.btn-default{
			    		font-size: 8px;
			    	}
			    }
			}
		}
	}
	.menu{
		background-color: #fff;
		.navbar{
			background-color: #fff;
			.navbar-brand{
				padding: 10px;
				img{
					width: 55%;
				}
			}
			.navbar-toggle{
				color:#fff;
				border-color:#000;
				.icon-bar{
					background-color:#000;
				}
				&:hover, &:focus{
					background-color: #00a651;
				}
			}			
			.navbar-collapse{
				position: relative;
				top: 0;
				transform: translateY(0);
				text-align: center;
				ul {
					width: 100%;
					li {
						width: 100%;
						a{
							font-size: 22px;
						}
					}
				}
			}
		}
	}

	.sobre{

		.texto{
			p{
				font-size: 22px;
			}
		}
	}

	.contato{
		h1{
			font-size: 26px;
    		line-height: 28px;

		}
		p{
			font-size: 22px;
			line-height: 26px;
		}
		form{
		    padding: 5%;
		    width: 100%;
			.form{
				input, textarea{
					font-size: 26px;
					margin: 1%;
				}
				.btn-enviar{
					margin-top: 5%;
					font-size: 26px;
				}
			}
		}
	}
	footer{
		.social{
			margin-top: 5%;
			font-size: 18px;
		}
		.copyright{
			p{
				font-size: 6px;
				&:last-child{
					font-size: 12px;
				}
			}

		}
	}

}
